.search {
    height: 61px;
  }
  
  .img_search {
    position: absolute;
    left: 5px;
    top: 18px;
  }
  
  /* .searchbar_row {
    left:556px;
  
  } */
  
  .search_box {
    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  
  .input_box {
    width: 267px;
    height: 61px;
    padding-left: 40px;
    border: none;
    outline: none;
    border: 2px solid #d1d1d1;
    ;
  }
  
  .button {
    width: 61px;
    height: 61px;
    background: #E84848;
    border: none;
    padding: 10px;
  }
  
  .artical_heading{
    font-family: Inria Sans;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
    color: #D02424;
    margin-bottom:20px;
  }