.search {
  height: 61px;
}

.img-search {
  position: absolute;
  left: 5px;
  top: 18px;
}

.searchbar-row {
  display: flex;
  justify-content: center;
}

.search-box {
  position: relative;
  margin-bottom: 100px;
  margin-top: 50px;
}

.input-box {
  width: 267px;
  height: 61px;
  padding-left: 40px;
  outline: none;
  border: 2px solid #d1d1d1;
  ;
}

.Button{
  width: 61px;
  height: 61px;
  background: #E84848;
  border: none;
  padding: 10px;
  font-size:17px;
}

.artical-heading {
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
  color: #D02424;
  margin-bottom: 20px;
}